.node {
  width: 25px;
  height: 25px;
  margin: 0px auto;
  border: 1px solid purple;
}
.node-Visited {
  width: 25px;
  height: 25px;
  margin: 0px;
  border: 1px solid purple;
  animation-name: node-visit;
  animation-duration: 2s;
  animation-timing-function: ease;
  background: yellowgreen;
}
@keyframes node-visit {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: yellowgreen;
  }
}
@keyframes shortest-path {
  0% {
    background-color: purple;
  }
  100% {
    background-color: white;
  }
}
.node-Path {
  width: 25px;
  height: 25px;
  margin: 0px;
  border: 1px solid purple;
  animation-name: shortest-path;
  animation-duration: 2s;
  animation-timing-function: ease;
  background-color: white;
}

.nodestart {
  width: 25px;
  height: 25px;
  margin: 0px;
  border: 1px solid purple;
  background: green;
}
.nodestart:before {
  content: "S";
}
.nodefinish {
  width: 25px;
  height: 25px;
  margin: 0px;
  border: 1px solid purple;
  background: red;
}
.nodefinish:before {
  content: "E";
}
.nodewall {
  width: 25px;
  height: 25px;
  margin: 0px;
  border: 1px solid purple;
  background: purple;
}
